:root {
    --title-color: #156963;
    --link-color: #000;
    --text-color: rgba(44, 21, 0, 0.8);
    --btn-color: #156963;
    --subtitle-color: #000;
    --price-color: #000;
    --card-background: #FFF;
    --card-border: #E0E0E0;
}