.header {
    width: 100%;
    position: absolute;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 60px 0 60px;

}

.logo__icon {
    position: relative;
    z-index: 11;
    fill: #156963;
    width: 36px;
    height: 36px;
}