.nav {
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    z-index: 10;
    background-color: #749b99;
    overflow: auto;
    transition: top 0.3s ease 0s, bottom 0.3s ease 0s;
}

.nav_active {
    top: 0;
    bottom: 0;
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    list-style: none;
}


.nav__search {
    width: 20px;
    height: 20px;
}

.nav__cart {
    width: 20px;
    height: 20px;
}

.nav__icon-btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav__input {
    border-radius: 2px;
    border-radius: 10px;
    border: 1px solid rgb(69, 66, 66);
    width: 0;
    opacity: 0;
    transition: all 0.4s ease 0s;
}

.nav__icon-btn:hover .nav__input {
    width: 200px;
    padding: 10px 20px;
    opacity: 1;
}

.nav__item_span {
    position: relative;
}

.nav__span {
    position: absolute;
    top: -35px;
    left: -17px;
    width: 60px;
    background-color: #757e91;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.5s;
}

.nav__item_span:hover .nav__span {
    opacity: 1;
}

.nav__btn {
    padding: 8px 20px;
    transition: color 0.3s linear 0s, background 0.3s linear 0s;
}

@media (pointer:fine) and (hover: hover) {
    .nav__btn:hover {
        color: #fff;
        background-color: #156963;
    }
}


@media(min-width:1200px) {
    .nav {
        position: static;
        background-color: transparent;
        overflow: visible;
    }

    .nav__list {
        flex-direction: row;
    }

    .nav__btn-box {
        display: flex;
    }
}

@media(max-width:575px){
    .nav__list {
        padding-top: 50px;
    }
}